body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 50%;
  height: 50%;
  border: 1px solid grey;
  box-sizing: border-box;
  overflow: auto;
}

.box > .title {
  font-weight: bold;
  height: 20px;
}

.box > .title > .valid {
  float: right;
  padding: 0 5px;
}

.box > .content {
  height: 100%-20px;
}

.box > .content pre {
  margin: 0;
  padding: 0;
}

.box > .content .ProseMirror {
  margin: 0;
  padding: 0;
}
